extends layout/main.pug

block content
  .content
    each val in [6,7,8,9,10,11,12,13]
      .row.page2
        img(src=`https://source.unsplash.com/random/200x200?sig=${val}`)
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque egestas turpis non viverra egestas. Fusce vitae neque non libero faucibus rutrum in congue dui. Sed et accumsan metus, eget pellentesque arcu. In convallis orci sit amet nibh posuere, id posuere dolor scelerisque. Cras dapibus congue posuere. Morbi tortor sem, ultrices ac scelerisque ut, pharetra et mi. Nullam tempor elit ut luctus pulvinar. Maecenas commodo non est a vestibulum. Vivamus placerat tortor dignissim placerat sodales. Pellentesque rutrum urna quis lorem fringilla maximus. Donec vel pellentesque nisl. Nunc tempus lorem vel consequat convallis. Morbi odio risus, auctor ut leo sed, porta efficitur ex.