doctype html
head
  meta(charset='utf-8')
  link(rel='canonical' href='https://amp.dev/documentation/examples/components/amp-next-page/index.html')
  meta(name='viewport' content='width=device-width,minimum-scale=1,initial-scale=1')
  script(async='' src='https://cdn.ampproject.org/v0.js')
  title amp-next-page
  script(async='' custom-element='amp-next-page' src='https://cdn.ampproject.org/v0/amp-next-page-1.0.js')
  style(amp-boilerplate='').
    body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
  noscript
    style(amp-boilerplate='').
      body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
  style(amp-custom='').

    header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: grey;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1;
    color: white;
    text-shadow: 1px 1px 2px black;
    }
    .spacer {
    height: 120px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }
    .row {
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center
    }
    .content {
      margin-top: 90px;
      margin-bottom: 10px;
      background: #CED2C2;
      }
    .page2 {
      background: #ECDDD0;
    }
    .page3 {
      background: #F1C5AE;
    }
    .page4 {
      background: #92B1B6;
    }
    .page5 {
      background: #BFD1DF;
    }
    footer {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: grey;
    color: white;
    text-shadow: 1px 1px 2px black;
    }
    .amp-next-page-visible .content {
    margin-top: 0;
    }
    .my-custom-separator {
    background-color: #CB3CDF;
    height: 5px;
    }
header(next-page-hide='')
  h1
    | Header
main
  block content
amp-next-page
  script(type='application/json').
    [
    {
    "image": "https://cdn.glitch.com/559d7229-35e7-44e0-87dd-cec0ff862884%2Fyellowlogo.png?v=1586823149053",
    "title": "Page2",
    "url": "page2"
    },
    {
    "image": "https://cdn.glitch.com/559d7229-35e7-44e0-87dd-cec0ff862884%2Fgreenlogo.png?v=1586823156070",
    "title": "Page3",
    "url": "page3"
    },
    {
    "image": "https://cdn.glitch.com/559d7229-35e7-44e0-87dd-cec0ff862884%2Fgreenlogo.png?v=1586823156070",
    "title": "Page4",
    "url": "page4"
    },
    {
    "image": "https://cdn.glitch.com/559d7229-35e7-44e0-87dd-cec0ff862884%2Fgreenlogo.png?v=1586823156070",
    "title": "Page5",
    "url": "page5"
    }
    ]
  .my-custom-separator(separator='')
  footer(footer='' next-page-hide='')
    h1
      | Footer
